div {
    white-space: pre-wrap;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Set position to relative to contain absolutely positioned elements */
  }


/* Other fonts */

/* @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/spacemono/v13/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

/* .martian-mono-normal {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
} */

/* .major-mono display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 700;
    font-style: normal;
  } */

.fragment-mono-regular {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FreeMono';
    font-style: normal;
    font-weight: 400;
    src: 
       local('FreeMono'), 
       url('https://fonts.cdnfonts.com/s/16387/FreeMono.woff') format('woff');
  }
  

/* CIRCUIT BACKGROUND */
.inline-svg {
    position: absolute;
    transform: rotate(90deg);
    width: 600vw; 
    height: 100vh; 
    z-index: -1; 
    opacity: 0; 
    animation: fade-in 1s forwards, scroll 30s ease-in-out infinite alternate;
    animation-delay: 1.5s; 
    
}

/* Background animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: .13;
    }
}

/* Scroll back and forth effect */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-400px); /* Scroll left */
    }
    100% {
        transform: translateX(400px); /* Scroll right */
    }
}

.path {
    animation: draw 20s infinite;
    animation-timing-function: linear;
}

.path-01 { animation-delay: 0s; }
.path-02 { animation-delay: 1s; }
.path-03 { animation-delay: 2s; }
.path-04 { animation-delay: 3s; }
.path-05 { animation-delay: 4s; }

@keyframes draw {
    0% { }
    100% {
        stroke-dashoffset: 0;
        stroke-opacity: 1;
    }
}


.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* Matrix Rain */
#Matrix {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -4;
    opacity: 0;
    top: 0;
    left: 0;
    animation: faydeIn 2s forwards; 
    animation-delay: 1s
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    opacity: 0; /* Initially set opacity to 0 */
}

@keyframes faydeIn {
    from {
        opacity: 0; /* Start opacity from 0 */
    }
    to {
        opacity: 0.1; /* End opacity at 1 */
    }
}



.matrix-rain {
    background: transparent;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity:0.2;
    transform: translate(-50%, -50%);
    z-index: -4; /* Set a lower z-index to send it to the back */
  }

/* "jahrei labs." TEXT */
.typewriter h1 {
    color: #fff;
    font-family: 'FreeMono'; /* "Major Mono Display"; "Fragment Mono"; */
    overflow: hidden; 
    border-right: .07em solid white; /* The typewriter cursor */
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0em; 
    position: relative;
    animation: 
        typing 1.2s steps(5),
        blink-caret 0.7s step-end infinite;

}


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}



/* Background gradient */
.bg-grad {
    background-image: linear-gradient(45deg, black, #0f0f0f) ;
    background-attachment: fixed;
    width: auto;
    height: 100%;
}

.JL-logo {
    position: fixed;
    width: 2.5vw;
    bottom: 5vh; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0%;
    z-index: 9999; /* Ensure it stays above other content */
    animation: fadeInUp 2s forwards;
    animation-delay: 1.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        bottom: -10vh; /* Move the logo down initially */
    }
  
    to {
        opacity: 1;
        bottom: 5vh; /* Position the logo at 5% from the bottom */
    }
}

/* .logo-container {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 5px; /* Add padding to create space for the highlight 
    border-radius: 10px; /* Add border radius for rounded corners 
    border: 2px solid transparent; /* Initial transparent border 
}


.coming-soon-text {
    display: none;
    margin-left: 10px;  Adjust as needed 
    transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.logo-container:hover .JL-logo {
    transform: translateX(-10px);  Move the logo slightly to the left 
}

.logo-container:hover .coming-soon-text {
    display: block;
}

 Highlight effect 
.logo-container:hover {
    border-color: rgba(255, 255, 255, 0.5);  Adjust color and opacity as needed 
} */

/* Logo PNG styling
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(100px); /* Initially blurred */
    /* pointer-events: none; /* Disable pointer events 
}   */


/* SVG animation
.svg-container {
    position: relative;
}

.svg-container svg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: clear;
} */




